/*MAX WIDTH 1400PX START*/
@media (max-width: 1400px) {

	.home_fc .right_part img {
		position: static;
	}

	.home_fc .container {
		align-items: center;
	}

	.home_population_2 .texts {
		margin-left: 0;
		width: 39%;
	}

}
/*MAX WIDTH 1400PX END*/





/*MAX WIDTH 1200PX START*/
@media (max-width: 1200px) {

	.home_population .item:nth-child(6) {
		left: 276px;
	}

	.home_population .item:nth-child(2) {
	    left: -460px;
	    max-width: 230px;
	}

	.header_menu {
		max-width: 650px;
	}

	.contents_block.about_page p {
		margin: 0;
	}

}
/*MAX WIDTH 1200PX END*/





/*MAX WIDTH 992PX START*/
@media (max-width: 992px) {

	.header_menu {
	    max-width: 650px;
	    padding: 0 20px 0 0;
	}

	h1 {
		font-size: 40px;
	}

	.home_fc .text {
		font-size: 18px;
	}

	.home_population .img_wrap {
		max-width: 460px;
	}

	.home_population .title {
		font-size: 14px;
	}

	.home_population .item .text {
		font-size: 16px;
	}

	.home_population .item:nth-child(4) {
	    left: -108px;
	    top: -236px;
	    min-width: 220px;
	}

	.home_population .item .number {
	    font-size: 20px;
	    bottom: 4px;
	    right: 4px;
	}

	.home_population .item:nth-child(3) {
	    top: -156px;
	    left: -324px;
	    max-width: 190px;
	}

	.home_population .item:nth-child(2) {
	    left: -350px;
	    max-width: 170px;
	    top: -32px;
	}

	.home_population .item:nth-child(1) {
	    top: 116px;
	    left: -302px;
	    max-width: 170px;
	}

	.home_population .item:nth-child(5) {
	    left: 139px;
	    top: -151px;
	    min-width: 230px;
	}

	.home_population .item:nth-child(6) {
	    left: 200px;
	    top: -18px;
	    min-width: 180px;
	}

	.home_population .item:nth-child(7) {
	    left: 150px;
	    top: 90px;
	    min-width: 190px;
	}

	h2 {
		font-size: 30px;
	}

	.home_reviews {
		margin-top: calc(-6.8vw + 30px);
	}

	.header_menu ul {
		font-size: 12px;
	}

	.header_menu li {
	    max-width: 100px;
	    font-weight: 600;
	}

	header .logo {
	    min-width: 150px;
	    padding-right: 20px;
	}

	.home_records .text {
	    font-size: 18px;
	    max-width: 560px;
	}

	.home_records .item .img_wrap {
	    width: 60%;
	    margin: 0 auto;
	}

	.home_records .item_title {
		font-size: 20px;
	}

	.home_population_2 .item {
		width: 28%;
	}

	.big_text {
		font-size: 18px;
	}

	.home_population_2 .text {
		font-size: 20px;
	}

	.home_text_block .right_part img {
	    margin-top: -90px;
	}

	.lern_more .left_part {
		width: 30%;
	}

	.lern_more .right_part {
	    width: 64%;
	}

	.home_clients .container {
		flex-direction: column;
	}

	.home_clients .left_part {
		max-width: unset;
	}

	.home_clients .right_part {
		max-width: unset;
		margin-top: 50px;
		padding-left: 0;
		justify-content: space-around;
	}

	footer .menu ul {
		column-gap: 14%;
	}

	footer .contacts {
		margin-left: 4%;
	}

	.home_population_2 .texts {
		width: 35.7%;
	}

	header .btn {
	    margin-top: 4px;
	    padding: 10px 14px 9px 14px;
	}

	.contents_block.about_page p:nth-child(4),
	.contents_block.mc_page .texts p:nth-child(3) {
	    margin-bottom: 1.4rem;
	}

	.contents_block.mc_page img.right {
		width: calc(50% + 100px);
		margin: -120px -120px -120px 40px;
	}

}
/*MAX WIDTH 992PX END*/





/*MAX WIDTH 768PX START*/
@media (max-width: 768px) {

	.header_menu {
		width: unset;
		padding: 0;
		order: 1;
		margin-left: 0;
		margin-top: 4px;
		position: relative;
	}

	header .btn {
		margin-left: auto;
		margin-right: 20px;
	}

	.header_menu .burger {
		position: relative;
		width: 40px;
		height: 40px;
	}

	.header_menu .burger span:before,
	.header_menu .burger span:after,
	.header_menu .burger span {
		position: absolute;
		content: '';
		width: 30px;
		height: 2px;
		border-radius: 2px;
		background: #333;
		transition: .5s;
		cursor: pointer;
	}

	.header_menu .burger span:after {
		top: -6px;
	}

	.header_menu .burger span:before {
		bottom: -6px;
	}

	.header_menu .burger.open span {
		background: transparent;
	}

	.header_menu .burger.open span:after {
		top: 0;
		transform: rotate(45deg);
	}

	.header_menu .burger.open span:before {
		transform: rotate(-45deg);
		bottom: 0;
	}

	.header_menu ul {
	    display: none;
	    position: absolute;
	    right: 0px;
	    background: white;
	    box-shadow: 2px 4px 10px rgb(0 0 0 / 25%);
	    border-radius: 6px;
	    font-size: 14px;
	    white-space: nowrap;
	    padding: 6px 0;
	    top: calc(100% + 6px);
	}

	.header_menu ul br {
		display: none;
	}

	.header_menu li {
		max-width: unset;
		padding: 4px 8px;
	}

	.home_population .img_wrap img {
		display: none;
	}

	.home_population .title,
	.home_population .item {
		position: relative;
		left: unset !important;
		top: unset !important;
		transform: unset;
		max-width: unset !important;
	}

	.home_population .list {
		position: static;
		width: 100%;
		height: auto;
	}

	.home_fc .container {
		flex-direction: column;
	}

	.home_fc .title {
		max-width: unset;
	}

	.home_fc .text {
		margin-right: 0;
		max-width: unset;
		padding-bottom: 0;
	}

	.home_population {
		padding-right: 0;
	}

	.home_population .title {
		font-size: 22px;
		margin-bottom: 20px;
	}

	.home_population .item {
		padding-left: 10px;
		margin-bottom: 16px;
	}

	.home_population .item:last-child {
		margin-bottom: 0;
	}

	.home_reviews__carousel .item {
		margin-top: 42px;
	}

	.home_reviews {
	    margin-top: calc(-6.8vw + 50px);
	}

	.home_reviews__carousel_wrap .nav button svg {
	    max-width: 100%;
	    max-height: 100%;
	}

	.home_reviews__carousel_wrap .nav button {
		width: 28px;
		height: 28px;
	}

	.home_reviews__carousel_wrap {
		padding: 0 30px;
	}

	.home_reviews__carousel .item blockquote {
	    margin-top: 18px;
	    font-size: 14px;
	}

	.home_reviews__carousel .item .text {
		margin-top: 14px;
	}

	.home_records .list {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.home_records .btn {
		margin-top: 0;
	}

	.home_records .item {
	    width: 100%;
	    margin-bottom: 40px;
	}

	.home_population_2 .texts {
		width: 100%;
		padding: 0;
		margin-bottom: 20px;
	}

	.home_population_2 .text {
		max-width: unset;
	}

	.home_population_2 .item {
	    width: 47%;
	    max-width: 320px;
	    margin: 20px auto 0 auto !important;
	    padding: 16px 10px !important;
	}

	.lern_more .left_part,
	.home_text_block .right_part {
		display: none;
	}

	.lern_more .right_part,
	.home_text_block .left_part {
		width: 100%;
	}

	.home_text_block {
		margin-top: 70px;
	}

	.lern_more_form .btn {
		margin-left: auto;
		margin-right: auto;
	    font-size: 14px;
	    padding: 10px 8px;
    	max-width: 200px;
	}

	.home_video_block .title {
		margin-top: 40px;
	}

	footer .columns {
		flex-wrap: wrap;
	}

	.home_clients .item img {
		max-width: 100%;
	}

	footer .contacts {
		max-width: 212px;
	}

	footer .menu {
	    max-width: unset;
	    order: -1;
	    margin: 10px 0 20px 0;
	}

	footer .menu ul {
		white-space: initial;
	}

	.home_clients .item {
	    padding: 0 10px;
	}

	.learn_more_btn {
		padding: 10px 8px;
		max-width: 200px;
	}

	footer .container {
		max-width: 520px;
	}

	.ph_page .texts,
	.ph_page .img_wrap {
		padding-left: 0;
	}

	.ph_page .item {
		flex-direction: column;
	}

	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 26px;
	}

	.ph_page {
		margin-top: 48px;
	}

	.ph_page .img_wrap img  {
		margin-bottom: 16px;
	}

	.ph_page .item_title {
		font-size: 20px;
		text-align: center;
	}

	.contents_block.mc_page img.right {
	    width: calc(50% + 60px);
	    margin: -30px -60px -30px 40px;
	}

	.contents_block.mc_page {
		padding-top: 50px;
		padding-bottom: 0;
	}

	.contents_block.about_page h3 {
		padding-top: 0;
	}

	.contents_block.about_page img.left {
		margin-bottom: -16px;
	}

}
/*MAX WIDTH 768PX END*/