body {
    font-family: Gilroy;
    color: #1D1D1F;
}

.container {
    max-width: 1318px;
}

a:hover {
    color: #FF4500;
}

b {
    font-weight: 700;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 36px;
    color: #06466C;
    text-align: center;
    letter-spacing: 0.8px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

blockquote {
    font-style: italic;
}

blockquote:before {
    content: '“';
}

blockquote:after {
    content: '”';
}

.btn {
    font-size: 14px;
    color: white;
    background: #FF4500;
    border-radius: 99px;
}

.btn:hover {
    background: #06466C;
    color: white;
    font-weight: 600;
}

.ff-inter {
    font-family: Inter;
}

/*HEADER START*/
header {
    padding-top: 40px;
    padding-bottom: 32px;
}

header .btn {
    border-radius: 4px;
    margin-top: 2px;
    padding: 14px 24px 14px 28px;
    white-space: nowrap;
}

header .btn:hover {
    background: #009DD1;
}

header .container {
    max-width: 1312px;
}

header .logo {

}

header .logo img {
    max-width: 100%;
}

.page_content_wrap {
    background: url(../img/reviews_bg.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.header_menu {
    margin-left: auto;
    max-width: 723px;
    width: 100%;
    padding-left: 20px;
    text-align: center;
    padding-right: 67px;
    margin-top: 8px;
}

.header_menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.header_menu li {
    max-width: 130px;
    font-weight: 600;
}

.big_text {
    font-size: 24px;
    line-height: 1.333;
}

.fw-bold {
    font-weight: 700;
}

/*HEADER END*/

/*=============== HOME PAGE START =============*/

/*FIRSST SCREEN START*/
.home_fc {
    background: linear-gradient(279.58deg, #B0C8CE 45.53%, rgba(176, 200, 206, 0.52) 75.02%);
    color: #06466C;
    padding-top: 28px;
    padding-bottom: 15px;
}

.home_fc .container {

}

.home_fc .left_part {
    width: 100%;
    padding: 69px 0 0 8px;
}

.home_fc .title {
    line-height: 1.14;
    letter-spacing: 0.8px;
    max-width: 550px;
}

.home_fc .text {
    font-size: 24px;
    margin-top: 24px;
    max-width: 550px;
    line-height: 1.25;
    margin-right: -20px;
    padding-bottom: 50px;
}

.home_fc .right_part {
    width: 100%;
    min-width: 58.5%;
}

.home_fc .right_part img {
    max-width: 100%;
    position: relative;
    left: 13px;
    bottom: 3px;
}
/*FIRSST SCREEN END*/

/*POPULATION START*/
.home_population {
    padding-top: 59px;
    padding-right: 9px;
}

.home_population .container {

}

.home_population .list_wrap {
    position: relative;
}

.home_population .title {
    position: absolute;
    left: 50.4%;
    top: 52.3%;
    font-size: 20px;
    color: #008080;
    transform: translateX(-50%);
    letter-spacing: 0.2px;
}

.home_population .list {
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
}

.home_population .item {
    position: absolute;
}

.home_population .item:nth-child(1) {
    top: 116px;
    left: -402px;
    max-width: 200px;
}

.home_population .item:nth-child(2) {
    left: -499px;
    top: -25px;
    max-width: 250px;
}

.home_population .item:nth-child(3) {
    top: -166px;
    left: -434px;
    max-width: 240px;
}

.home_population .item:nth-child(4) {
    left: -139px;
    top: -311px;
    min-width: 270px;
}

.home_population .item:nth-child(5) {
    left: 225px;
    top: -171px;
    min-width: 260px;
}

.home_population .item:nth-child(6) {
    left: 289px;
    top: 10px;
    min-width: 220px;
}

.home_population .item:nth-child(7) {
    left: 238px;
    top: 120px;
    min-width: 230px;
}

.home_population .item .number {
    letter-spacing: 0.2px;
    color: #008080;
    font-size: 24px;
    position: relative;
    font-weight: 700;
    bottom: 6px;
    right: 6px;
}

.home_population .item .text {
    width: 100%;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 1.4;
}

.home_population .img_wrap {
    margin: 0 auto 0 auto;
    max-width: 654px;
}

.home_population .img_wrap img {
    max-width: 100%;
}

/*POPULATION END*/

/*REVIEWS START*/
.home_reviews {
    background-size: cover;
    background-position: top center;
    margin-top: calc(-6.8vw - 11px);
    padding-top: 6.8vw;
    padding-bottom: 14vw;
    margin-bottom: -14vw;
}

.home_reviews .container {

}

.home_reviews .title {

}

.home_reviews__carousel_wrap {
    position: relative;
    margin: 0 auto;
    max-width: 1060px;
    padding: 0 48px;
}

.home_reviews__carousel {

}

.home_reviews__carousel .item {
    text-align: center;
    margin: 62px auto 0 auto;
    max-width: 860px;
}

.home_reviews__carousel .item .img_wrap {

}

.home_reviews__carousel .item img {
    max-width: 100%;
    width: auto;
    display: inline-block;
}

.home_reviews__carousel .item blockquote {
    margin-top: 46px;
    line-height: 1.5;
}

.home_reviews__carousel .item .text {
    font-size: 14px;
    margin-top: 28px;
    letter-spacing: 0.5px;
    padding-left: 7px;
}

.home_reviews__carousel .item .text b {
    font-weight: 900;
}

.home_reviews__carousel_wrap .nav {

}

.home_reviews__carousel_wrap .nav button {
    background: transparent;
    position: absolute;
    top: 32%;
}

.home_reviews__carousel_wrap .nav button svg {
    display: block;
}

.home_reviews__carousel_wrap .nav button svg * {
    transition: .5s;
}

.home_reviews__carousel_wrap .nav button:hover svg * {
    fill: #FF4500;
}

.home_reviews__carousel_wrap .nav .prev {
    left: 0;
}

.home_reviews__carousel_wrap .nav .next {
    right: 0;
}

.home_reviews__carousel_wrap .nav .next svg {
    transform: scaleX(-1);
}
/*REVIEWS END*/

/*RECORDS START*/
.home_records {
    padding-top: 94px;
}

.home_records .container {

}

.home_records .title {

}

.home_records .text {
    text-align: center;
    font-size: 24px;
    line-height: 1.333;
    max-width: 700px;
    margin: 7px auto 0 auto;
    padding-left: 6px;
}

.home_records .list {
    text-align: center;
    max-width: 1256px;
    margin: 50px auto 0 auto;
}

.home_records .item {
    width: 30%;
}

.home_records .item .img_wrap {

}

.home_records .item .img_wrap img {
    max-width: 100%;
}

.home_records .item_title {
    font-size: 24px;
    line-height: 1.333;
    font-weight: 700;
    margin: 16px auto 0 auto;
    max-width: 300px;
}

.home_records .btn {
    margin: 66px auto 0 auto;
}

.learn_more_btn {
    display: block;
    width: 100%;
    font-weight: 700;
    max-width: 220px;
    letter-spacing: 1.2px;
    padding: 15px 10px;
    text-align: center;
    display: block;
}
/*RECORDS END*/

/*POPULATION 2 START*/
.home_population_2 {
    background-size: cover;
    background-position: top center;
    margin-top: 1.3vw;
    padding-top: 6.9vw;
    padding-bottom: 7vw;
    margin-bottom: -7vw;
}

.home_population_2 .container {

}

.home_population_2 .list {
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1128px;
}

.home_population_2 .texts {
    width: 40.7%;
    margin-left: -20px;
    padding-right: 20px;
}

.home_population_2 .title {
    text-align: left;
}

.home_population_2 .text {
    font-size: 24px;
    line-height: 1.333;
    margin-top: 7px;
    max-width: 370px;
}

.home_population_2 .item {
    background: #FFFFFF;
    box-shadow: 2px 4px 10px rgb(0 0 0 / 25%);
    border-radius: 20px;
    text-align: center;
    width: 22.2%;
    margin-top: 39px;
    padding: 35px 18px 40px 18px;
    display: block;
}

.home_population_2 .item:hover {
    color: white;
    background: #06466C;
}

.home_population_2 .item:nth-child(2) {
    margin-right: auto;
    margin-top: 97px;
}

.home_population_2 .item:nth-child(3) {
    padding-top: 40px;
}

.home_population_2 .item:nth-child(3) .item_title {
    margin-top: 13px;
    padding-left: 8px;
}

.home_population_2 .item:nth-child(4) {
    padding: 28px 30px 36px 30px;
}

.home_population_2 .item:nth-child(4) .item_title {
    margin-top: 17px;
}

.home_population_2 .item:nth-child(5) {
    margin-top: 77px;
    padding: 14px 10px 38px 10px;
}

.home_population_2 .item:nth-child(5) .item_title {
    margin-top: -13px;
}

.home_population_2 .item:nth-child(6) {
    margin-top: 25px;
    padding: 18px 10px 23px 10px;
}

.home_population_2 .item:nth-child(6) .item_title {
    margin-top: 2px;
}

.home_population_2 .img_wrap {

}

.home_population_2 .img_wrap img {
    max-width: 100%;
}

.home_population_2 .item_title {
    margin-top: 5px;
}

.home_population_2 .btn {
    margin: 62px auto 0 auto;
}
/*POPULATION 2 END*/

/*TEXTS BLOCK START*/
.home_text_block {
    overflow: hidden;
    margin-top: 148px;
}

.home_text_block .container {
    max-width: 1066px;
}

.home_text_block .content {

}

.home_text_block .left_part {
    width: 47%;
}

.home_text_block .title {
    text-align: left;
}

.home_text_block .text {
    margin-top: 16px;
    padding-bottom: 100px;
}

.home_text_block .right_part {
    width: 45.1%;
}

.home_text_block .right_part img {
    margin-right: -197px;
    margin-top: -162px;
    max-width: calc(100% + 197px);
}

.home_text_block .btn {
    margin: -72px auto 0 auto;
}
/*TEXTS BLOCK END*/

/*LEARN MORE FORM START*/
.lern_more {
    overflow: hidden;
}

.lern_more.home {
    margin-top: 120px;
}

.lern_more .container {

}

.lern_more .left_part {
    width: 48%;
}

.lern_more .left_part img {
    margin-top: 15px;
    margin-left: -71px;
    max-width: calc(100% + 87px);
}

.lern_more .right_part {
    width: 47%;
}

.lern_more_form {

}

.home .lern_more_form .title {
    text-align: left;
}

.lern_more_form .title {

}

.lern_more_form .text {
    margin-top: 7px;
    padding-left: 3px;
}

.fields_group {
    flex-wrap: wrap;
    margin-top: 61px;
    padding-left: 3px;
}

.field_wrap {
    width: 100%;
    position: relative;
    margin-bottom: 58px;
}

.field_wrap.w-50 {
    width: 45.5%;
    max-width: 284px;
}

.field_wrap textarea,
.field_wrap input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #808080;
    font-size: 16px;
    line-height: 1.5;
    background: transparent;
}

.field_wrap textarea {
    resize: none;
    height: 107px;
}

.field_wrap .placeholder {
    position: absolute;
    white-space: nowrap;
    left: 0px;
    top: 1px;
    transition: .5s;
    pointer-events: none;
}

.field_wrap textarea:focus + .placeholder,
.field_wrap:not(.select) input:focus + .placeholder,
.field_wrap.filled .placeholder {
    font-size: 12px;
    top: -14px;
}

.field_wrap.select {

}

.field_wrap.select:after {
    content: '';
    top: 1px;
    right: 11px;
    width: 10px;
    height: 10px;
    border-right: solid 2px #000;
    border-bottom: solid 2px #000;
    transform: rotate(45deg);
    position: absolute;
    transition: .5s;
}

.field_wrap.select.open:after {
    transform: rotate(45deg) scale(-1);
}

.field_wrap.select .options {
    display: none;
    position: absolute;
    z-index: 99;
    background: white;
    width: 100%;
    border-radius: 6px;
    box-shadow: 2px 4px 10px rgb(0 0 0 / 25%);
    top: 100%;
    overflow: auto;
    max-height: 200px;
}

.field_wrap.select .options div {
    padding: 4px 8px;
    border-bottom: solid 1px #eee;
    cursor: pointer;
    transition: .5s;
}

.field_wrap.select .options div:hover {
    background: #eee;
}

.field_wrap.select .options div:last-child {
    border-bottom: unset;
}

.field_wrap.message {
    margin-bottom: 0;
    margin-top: -23px;
}

.lern_more_form .btn {
    display: block;
    margin-top: 49px;
    width: 100%;
    max-width: 224px;
    font-weight: 600;
    font-size: 16px;
    padding: 14px 10px;
}

/*LEARN MORE FORM END*/

/*HOME VIDEO START*/
.home_video_block {
    margin-top: 125px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    padding-bottom: 7.8vw;
}

.home_video_block .container {

}

.home_video_block .video_preview {
    margin: 0 auto 0 auto;
    max-width: 610px;
}

.home_video_block .video_preview img {
    max-width: 100%;
}

.home_video_block .title {
    max-width: 500px;
    margin: 26px auto 0 auto;
    line-height: 1.25;
    padding-left: 6px;
}

.home_video_block .text {
    margin: 33px auto 0 auto;
    line-height: 1.5;
    max-width: 660px;
    text-align: center;
    font-weight: 500;
}

.home_video_block .btn {
    margin: 68px auto 0 auto;
}
/*HOME VIDEO END*/

/*CLIENTS START*/
.home_clients {
    margin-top: 87px;
    margin-bottom: 81px;
}

.home_clients .container {
    max-width: 1174px;
}

.home_clients .left_part {
    width: 100%;
    max-width: 525px;
}

.home_clients .left_part .title {
    text-align: left;
    line-height: 1.23;
}

.home_clients .left_part .text {
    margin-top: 20px;
    line-height: 1.5;
}

.home_clients .right_part {
    width: 100%;
    max-width: 546px;
    margin-top: 93px;
    padding-left: 20px;
}

.home_clients .item {
    display: block;
}

.home_clients .item img {

}
/*CLIENTS END*/

/*================ HOME PAGE END ==============*/

/*FOOTER START*/
footer {
    background: #f2f2f2;
    padding-top: 4.5vw;
    padding-bottom: 4vw;
}

footer .container {
    max-width: 1258px;
}

footer .columns {

}

footer .col {

}

footer .logo_wrap {
    margin-top: 4px;
}

.footer_logo {
    display: block;
}

.footer_logo img {
    max-width: 100%;
}

footer .socials {
    padding: 13px 20px 0 13px;
}

footer .socials .item {

}

footer .socials svg {

}

footer .socials .item svg * {
    transition: .5s;
    fill: black;
}

footer .socials .item:hover svg * {
    fill: #FF4500;
}

footer .contacts {
    width: 100%;
    max-width: 260px;
    margin-left: 8.5%;
    padding-right: 20px;
}

footer .col_title {
    font-size: 18px;
    letter-spacing: 0.3px;
}

footer .contacts a {
    margin-top: 19px;
}

footer .contacts img {
    margin-right: 19px;
}

footer .contacts span {

}

footer .menu {
    width: 100%;
    max-width: 528px;
}

footer .menu nav {
    margin-top: 18px;
    line-height: 1.25;
}

footer .menu ul {
    column-count: 2;
    column-gap: 31%;
    white-space: nowrap;
}

footer .menu li {
    margin-bottom: 10px;
}

footer .menu a {

}

footer .copyright {
    margin-top: 5.9vw;
    font-size: 14px;
    letter-spacing: 0.45px;
}
/*FOOTER END*/













/*================ CHR START ==============*/



.page_fc {
    background-image: url(../img/page_fc.png);
    background-size: cover;
    padding-top: 9.3vw;
    padding-bottom: 9.5vw;
}

.page_fc h1 {
    text-align: center;
    color: #06466C;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.8px;
}

.home_records.chr {
    padding-top: 85px;
}

.home_records.chr .text {
    margin-top: 20px;
    max-width: 750px;
}

.home_records .item_text {
    text-align: left;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 1.5;
}

.img_sec {
    text-align: center;
    margin-top: 17px;
}

.img_sec img {
    max-width: 100%;
}

.lern_more.page {
    margin-top: 35px;
    margin-bottom: 100px;
}

.lern_more.page .container {
    max-width: 746px;
}

.lern_more.page .lern_more_form .text {
    margin-top: 10px;
    text-align: center;
}

.lern_more.page .fields_group {
    margin-top: 55px;
}

.lern_more.page .lern_more_form .btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 69px;
}

/*================= CHR END ===============*/



/*================= POPULATION HEALTH PAGE START ===============*/

.ph_page {
    margin-top: 88px;
    padding-bottom: 60px;
}

.ph_page .container {

}

.ph_page .title {
    max-width: 870px;
    margin: 0 auto;
    line-height: 1.2;
}

.ph_page .text {
    text-align: center;
    margin: 18px auto 0 auto;
    max-width: 1000px;
}

.ph_page .list {
    max-width: 870px;
    margin: 58px auto 0;
    width: 100%;
}

.ph_page .img_wrap {
    max-width: 185px;
    width: 100%;
    padding-left: 27px;
}

.ph_page .item:not(:last-child) {
    margin-bottom: 42px;
}

.ph_page .img_wrap img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.ph_page .texts {
    width: 100%;
    padding-left: 43px;
}

.ph_page .item_title {
    font-size: 24px;
    line-height: 1.333;
    color: #009DD1;
    letter-spacing: 0.2px;
}

.ph_page .item_text {
    line-height: 1.5;
    margin-top: 10px;
}

/*================= POPULATION HEALTH PAGE END ===============*/





/*================= MANAGED CARE START ===============*/

.contents_block {
    overflow: hidden;
}

.contents_block.mc_page {
    padding-top: 94px;
    padding-bottom: 43px;
}

.contents_block .container {
    max-width: 1030px;
}

.contents_block .big_text {
    font-weight: 400;
    color: #06466C;
    text-align: center;
}

.contents_block .texts {

}

.contents_block img.right {
    float: right;
}

.contents_block img.left {
    float: left;
}

.contents_block.mc_page img.right {
    width: calc(50% + 173px);
    margin: -163px -215px -120px 106px;
}

.contents_block.about_page img.left {
    width: calc(50% + 140px);
    margin: -24px -35px 0 -82px;
}

.contents_block .texts {
    margin-top: 53px;
    padding-left: 10px;
}

.contents_block .texts p {
    line-height: 1.5;
    margin-bottom: 1.4rem;
}

.contents_block.mc_page .texts p:nth-child(3) {
    margin-bottom: 3.1rem;
}

.contents_block.about_page h3 {
    color: inherit;
    font-weight: 700;
    text-align: left;
    padding-top: 45px;
    letter-spacing: 0.2px;
    margin:  0 -10px 15px 0;
}

.contents_block.about_page p {
    margin-right: -15px;
    margin-left: -23px;
}

.contents_block.about_page p:nth-child(4) {
    margin-bottom: 2.4rem;
}

/*================== MANAGED CARE END ================*/